$brand-right-seperator : ", " ; 
$main-font-family : 'Muli', sans-serif;

//colors
$eco-cabin-bg-color: #dae0e8;
$eco-brandlist-bg-color: #e8ecf0;
$bus-cabin-bg-color: #f5e5de;
$bus-cabin-color: #cc8566;;
$bus-brandlist-bg-color:#f7efea;
$navy-blue-color-07 : rgba(0,0,128,0.7)


