@import //mixin and variables
	'./mixins/common-mixins.scss', 
	'./variables/common-variables.scss';

@import // components
	'./components/price',
	'./components/journey';

body{
	font-family: $main-font-family;
	user-select: none;
	max-width: 768px;
	margin: 0 auto;
}

.container{
	margin: 10px auto;
	background-color: white;
	padding: 0 5px;
	position: relative;
}

@media only screen and (min-width: $mini-midi-mobile-width) {
	.container{
		padding: 0 20px;
	}
}











